.myLinkBlock {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.circle {
    width: 20px;
    height: 20px;
    opacity: 0.8;
    border: solid 0.5px #f4f4f4;
    border-radius: 50%;
}

.a {
    text-decoration: none;
    color: #afafaf;
    font-weight: 500;
    font-size: 13px;
    line-height: 35px;
    margin-left: 9px;
    margin-right: 12px;
    cursor: pointer;
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 20px;
    border-radius: 2px;
    background-color: #303030;
    color: #afafaf;
    font-size: 12px;
    font-weight: 500;
}
